@import "normalise";
@import "variables";
@import "mixins";

@font-face {
  font-family: 'swagger';
  src: url("../fonts/swaggerlight.ttf") format("truetype");
}

@font-face {
    font-family: 'swaggerb';
    src: url("../fonts/swaggerbold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensanslight.woff") format("woff");
}
body{
    font-size: 62.5%;
    font-family: 'Open Sans', arial, sans-serif;
    max-width: 100%;
}
.hidden{
    font-size: 0;
    overflow: hidden;
    position: absolute;
}

.blocheader__nav .active{
    color: $pink;
    border-bottom: 2px solid $pink;

}
///////////////////////////////////////////////////////Accueil
///////////////////////////////////////////////////////Accueil_header

.blocheader__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.blocheader__desc__img{
    background: url("../images/child.jpeg")center bottom no-repeat;
    background-size: cover;
    padding-bottom: 60em;
}

.croop{
    padding-bottom: 10%;
    background-position: top;
}

.blocheader__desc{
    text-align: center;
}

.blocheader__desc__text{
    font-size: 3.3em;
    width: 60%;
    font-weight: 100;
    color: rgb(47,47,47);
    line-height: 2;
    display: block;
    margin: 0em auto;
    padding-top: 1.5em;
    font-family: $font;
}

.logo__link{
    display: block;
    width: 105px;
    height: 128px;
    margin: 3em 0 0 3em;
}

.logo__img{
    width: 80%;
    height: auto;
}

.blocheader__nav__list{
    display: flex;
    align-items: center;
    margin-right: 4em;
}

.list__item{
    border-right: 1px solid lightgray;
}

.list__item:last-child{
    border-right: none;
    padding-right: initial;
    margin-right: initial;
}

.list__item__link{
    text-decoration: none;
    color: dimgrey;
    font-size: 1.3vw;
    margin: 0 .8em;
    padding: .8em;
    font-weight: 400;
}
.link--noborder{
    border-right: none;
    background-color: $pink;
    display: inline-block;
    width: 63%;
    color: white;
    border-radius: 50px;
    padding: .5em 1.3em;
    margin-left: 15%;
}

.link--noborder:hover{
    background-color: $pink_dark;
}

///////////////////////////////////////////////////////END_Accueil_header
///////////////////////////////////////////////////////Accueil_qui sommes nous

.blocabout__title1{
    @include title;
}

.blocabout__text{
    @include text;
}
.blocabout__link{
    @include button;
    background-color: $blue;
    display: inline-block;
    margin: 4em $margin 13em;
    text-align: center;
}

.blocabout__link:hover{
    background-color: $blue_dark;
}

///////////////////////////////////////////////////////END_Accueil_qui sommes nous
///////////////////////////////////////////////////////Accueil_Equipe_encart

.blocteamI-space__divimg{
    background: url("../images/equipe.jpg") no-repeat;
    background-size: contain;
    padding: 20%;
    margin-bottom: 4em;
}

.blocteamI-space{
    text-align: center;
}

.blocteamI-space__link{
    @include button;
    background-color: $pink;
    display: inline-block;
    margin: 8em 0 13em;
    text-align: center;
}

.blocteamI-space__link:hover{
    background-color: $pink_dark;
}

/////// animation css

.blocteamI-space__animation{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

.blocteamI-space__animation__content{
    height: 40px;
    overflow: hidden;
}

.blocteamI-space__text{
    display: inline;
    float: left;
    font-size: 2.8vw;
    font-weight: 100;
    margin-left: 15%;
    color: dimgrey;

}

.blocteamI-space__list{
    padding-left: 380px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    position: relative;
    top: 4px;
}

.blocteamI-space__text--word{
    line-height:40px;
    margin:0;
    font-size: 2.1vw;
    color: $pink;
    font-weight: 700;
    text-transform: uppercase;
}

@keyframes change {
    0%, 8.50%, 100% {transform:translate3d(0,0,0);}
    12.50%, 21% {transform:translate3d(0,-20%,0);}
    25%, 33.5% {transform:translate3d(0,-40%,0);}
    37.5%,46% {transform:translate3d(0,-60%,0);}
    50%,58.5% {transform:translate3d(0,-80%,0);}
    62.5%,71% {transform:translate3d(0,-60%,0);}
    75%,83.5% {transform:translate3d(0,-40%,0);}
    87.5%, 96% {transform:translate3d(0,-20%,0);}
}



///////////////////////////////////////////////////////END_Accueil_Equipe_encart
///////////////////////////////////////////////////////Accueil_Equipe_activite

.blocactiv{
    display: flex;
    justify-content: space-between;
    margin: 0 $margin 8em;
}
.blocactiv__content__title1{
    font-size: 4.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 0;
    color: dimgrey;
    font-weight: 100;
    margin-bottom: .5em;
}


.blocactiv__divimg{
    background: url("../images/activitees.jpg")no-repeat;
    background-size: contain;
    padding: 20%;
    margin-bottom: 4em;
}

.blocactiv__info{
    margin: 3em 0 0 10em;
    width: 90%;
    border-left: 1px solid lightgrey;
    padding-left: 8em;
}

.blocactiv__info__title2{
    color: dimgrey;
    letter-spacing: 1px;
    font-size: 3.1em;
    margin-bottom: 1.3em;
    font-family: $fontbold;
}

.blocactiv__info__text{
    @include text;
    margin: 0 auto;
}

///////////////////////////////////////////////////////Accueil_Equipe_help

.blocsponsor{
    margin: 8em $margin 25em;
    text-align: center;
}

.blocsponsor__title1{
    @include title;
    border: none;
    margin-bottom: 2em;
    margin-top: 2em;
}

.blocsponsor__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sitem__img{
    width: 150px;
    height: 150px;
}

////// HELP

.blochelp-space{
    margin-bottom: 15em;
}

.blochelp-space__divimg{
    background: url("../images/arms.png") center no-repeat;
    background-size: cover;
    padding: 15% 0;
}

.blochelp-space__title1{
    @include title;
}

.blochelp-space__text{
    @include text;
    margin-bottom: 5em;
}

.blochelp-space__link{
    @include button;
    background-color: $blue;
    margin: 0 $margin;
}

.blochelp-space__link:hover{
    background-color: $blue_dark;
}

.blochelp__ills{
    //margin-bottom: 10em;
}

.blochelp__select{
    border:none;
    background: transparent;
    -webkit-appearance: none;
    height: 40px;
    border-radius: 0;
    padding: 5px;
    font-size: 2em;
    line-height: 1;
    width: 450px;
    color: dimgrey;
    font-weight: 100;

}

.blochelp__divselect{
    margin: 8em auto 15em;
    width: 380px;
    height: 40px;
    overflow: hidden;
    background: url("../images/angle-down.svg") no-repeat right;
    border-bottom: 2px solid $blue;
}

.blochelp__ills{
    text-align: center;
    margin-bottom: 25em;
}

.ill:nth-child(odd){
    background-color: rgba(127,163,162, 0.5);
}

.ill:nth-child(odd) .ill__description p{
    color:black;
}

.ill{
    //margin: 1em 0;
    //padding: 2.5em 0;
}


.ill__name{
    font-family: $font;
    font-size: 3.5em;
    display: inline-block;
    margin: 2em 0;
    padding: 3%;
}

.ill__name:hover{
    cursor: pointer;
}

.ill__description{
    font-size: 2em;
    line-height: $lineheight;
    color: dimgrey;
    margin: 0em $margin;
}

.ill__description p{
    margin-bottom: 2em;
}





///////////////////////////////////////////////////////END_Accueil_Equipe_help
///////////////////////////////////////////////////////Accueil_footer

.blocfooter{
    border-top: 1px solid lightgray;
    text-align: center;

}

.blocfooter__text{
    @include title;
    margin-top: 2em;
    margin-bottom: 1em;
    border: none;
}

.blocfooter__img{
    width: 105px;
    height: 128px;
    display: block;
    margin: 0em auto 8em;
}

.blocfooter__flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

.fitem{
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

///////////////////////////////////////////////////////END_Accueil_footer
///////////////////////////////////////////////////////AIDE_HOW


.blochelp__title1, .blochelp-nojs__title1{
    @include title;
    border-bottom: 3px solid $blue;

}

.blochelp__text, .blochelp-nojs__text{
    @include text;
    margin-bottom: 2em;
}

.blochelp__title2{
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 1px;
    color: dimgrey;
    text-align: center;
    margin-top: 4em;
    font-family: $font;
}

.blochelp-nojs__text2{
    margin: 0 $margin 2em;
    font-size: 2.2em;
    letter-spacing: 1px;
    color: dimgrey;
    margin-top: 4em;
    font-weight: 100;
    line-height: 1.5;
    border: 1px dashed $pink;
    padding: 2%;
}

.blochelp-nojs__div{
    margin: 0 $margin;
}

.blochelp-nojs__title3{
    @include title;
    margin-left: 0;
    margin-top: 3em;
}

.hnjitem__text{
    @include text;
    margin-left: 0;
    margin-bottom: 2em;
}

.hnjitem__span{
    display: block;
    text-transform: uppercase;
    margin: 3em 0;
    font-weight: 700;
    color: $blue;
}

.hnjitem__button{
    @include button;
    background-color: $blue;
    display: inline-block;
    margin-bottom: 5em;
    font-size: .8em;
    padding: .5em 2em;
}

.knjlink{
    @include button;
    background-color: $blue;
    display: inline-block;
}

.hnjitem{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2em;
}

.hnjitem__button:hover{
    background-color: $blue_dark;
}


.ill:not(.active) .ill__description{
    max-height:0;
    overflow:hidden;
}
.ill.active .ill__description{
    max-height: auto;
}

////DONS

.blocdons-space__divimg{
    background: url("../images/help.jpeg") bottom no-repeat;
    background-size:cover;
    height: 500px;
}

.blocdons-space{
    text-align: center;
}

.blocdons-space__text{
    font-family: $font;
    font-size: 3.5em;
    color: dimgrey;
    margin: 3em 0 2em;
}

.blocdons-space__link{
    @include button;
    background-color: $blue_dark;
    margin-bottom: 15em;
    display: inline-block;


}



///////////////////////////////////////////////////////END_AIDE_HOW
///////////////////////////////////////////////////////PROPOS

.blocpropos__title1{
    @include title;
    margin: 5em $margin 2em;
}

.blocpropos__text{
    @include text;

}

.blocpropos__img{
    width: 100%;
    height: auto;
    margin: 8em 0%;
}

.blocteamII-space{
    //background-color: rgba(140, 130, 130, 0.4);
    border-top: 1px solid lightgrey;
    padding-top: 10em;
    margin: 10em 0;
}

.blocproposII-space{
  text-align: center;
}
.blocproposII-space__divimg{
  background: url("../images/spacesecre.jpg") center no-repeat fixed;
  background-size: cover;
  padding: 15%;
}

.blocproposII-space__name{
  font-size: 5vw;
  font-family: $font;
  color: black;
}

.blocproposII-space__text{
  @include text;
  margin: 5em auto 4em;
  display: block;
  width: 60%;
}

.blocproposII-space__link{
  @include button
  background-color: $pink;
  display: inline-block;
  margin-bottom: 8em;
}
.blocteamII-space__divborder{
    text-align: center;
    margin: 0 $margin;
}

.blocteamII-space__icons{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.blocteamII-space__icons i{
    font-size: 5em;
    color: black;
    margin: 0em 1.8em 1.3em 1.8em;
    position: relative;
}

.blocteamII-space__icons i:not(:last-of-type):after{
    position: absolute;
    content: "";
    height: 1px;
    background-color: black;
    width: 100%;
    margin-left: 70px;
    top: 50%;
}

.blocteamII-space__text{
    font-family: $font;
    font-size: 3em;
    padding: 0 $margin;
    line-height: $lineheight;
    margin-bottom: 3em;
}

.blocteamII-space__link{
    @include button;
    background-color: $pink;
    display: inline-block;
}

.blocteamII-space__link:hover{
    background-color: $pink_dark;
}

//////////Equipe

.blocteam__title1{
    @include title;
}

.blocteam__text{
    @include text;
    margin-bottom: 5em;
}

.blocteam__spe__title1{
    text-transform: uppercase;
    font-size: 2em;
    color: $pink;
    margin: 2em $margin;
    position: relative;
}

.blocteam__spe__title1:after{
    position: absolute;
    content: "";
    height: 1px;
    background-color: lightgrey;
    width: 10%;
    margin-left: 20px;
    top: 50%;
}

.blocteam__spe__text{
    @include text;
}

.spe-item__img{
    max-width: 100%;
    height: auto;
    margin-right: 2em;
}

.spe-list{
    display: flex;
    margin: 0 $margin 15em;
}

.spe-item__link {
    display: block;
    font-size: 1.3vw;
    text-decoration: none;
    color: $pink;
    position: relative;
}

.spe-item__text{
    opacity: 0;
    position: absolute;
    top: 90px;
    left: 30px;
    text-transform: uppercase;
}

.spe-item__div:hover > .spe-item__img{
    opacity: 0.1;
    transition: 0.3s;
}
.spe-item__div:hover > .spe-item__text{
    opacity: 1;
    transition: 0.3s;
}

.spe-item{
    margin-top: 5em;
}


//////equipe perso

.blocteamitem__title1{
    @include title;
    margin-top: 3em;
    margin-bottom: 2em;
}

.blocteamitem__img{
    width: 35%;
    height: auto;
    margin-left:$margin;
}

.blocteamitem__flex{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5em;
}

.blocteam__divcontent{
    margin-left: 3%;
}

.blocteamitem__back{
   @include button;
    background-color: $pink;
    margin-left: $margin;
    display: inline-block;
    margin-top: 5em;
}

.blocteamitem__title2{
    font-size: 3em;
    font-weight: 100;
    color: $pink;
    margin-bottom: .5em;
    margin-top: 2em;
}

.blocteamitem__title3{
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 800;
    color: dimgrey;
}

.blocteamitem__text{
    @include text;
    margin-bottom: 1.5em;
}

.blocteamitem{
    margin-bottom: 20em;
}

//////Contact

.bloccontact__flex{
    display: flex;
    justify-content: space-between;
    margin: 20em 22%;
}

.bloccontact__title1{
    @include title;
    margin-left: initial;
    margin-top: initial;
    border-bottom: 3px solid $blue;
}

.bloccontact__text{
    font-size: 1.8em;
    color: dimgrey;
    font-weight: 100;
    margin-bottom: 1.3em;
    line-height: $lineheight;
}

.bloccontact__flex__column{
    display: flex;
    flex-direction: column;
}

.bloccontact__form__label{
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: .8em;
    color: $blue;
    text-transform: uppercase;
}

.bloccontact__form__input, .bloccontact__form__textarea{
    border: 1px solid $blue;
    padding: .8em 5%;
    margin-bottom: 2em;
    width: 250px;
}

.bloccontact__form{
    margin-top: 8em;
}

.bloccontact__form__input--submit {
    @include button;
    background-color: $blue;
    padding: .6em 8%;
    margin-top: 1em;
}

.blocactiv-space__divimg{
    background: url("../images/activiteeII.jpg") no-repeat;
    background-size: cover;
    padding: 15%;
}

.blocactiv-space{
    text-align: center;
}

.blocactiv-space__text{
    font-family: $font;
    font-size: 3em;
    color: dimgrey;
    margin: 2em 0;
}


.blocactiv-space__link{
    @include button
    background-color: $blue;
    display: inline-block;
    margin-bottom: 10em;
}

////Dons

.blocdons__info{
    text-align: center;
    margin-bottom: 8em;
}

.blocdons__title1{
    font-size: 40px;
    font-weight: 100;
    color: black;
    position: relative;
    top: 250px;
    left: 0px;
}

.blocdons__text--merci{
    font-size: 25vw;
    text-transform: uppercase;
    color: $blue;
    opacity: 0.2;
    font-weight: 400;
    position: relative;
    top: 0px;
    left:  0px;
}

.blocdons__text{
    @include text;
}

.catch{
    font-size: 2em;
}

.catch:after{
    display: block;
    content: '';
    height: 1px;
    background-color: dimgrey;
    width: 200px;
    margin: 1em auto;
}

.locaux{
    width: 60%;
    display: block;
    margin: 0 auto 6em;
}

.compte{
    background-color: $blue;
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 2em 0;
}

.compte span{
    font-weight: 700;
    color: white;
    margin-top: 1em;
    display: inline-block;
}

.blocdons{
    margin-bottom: 10em;
}

.blocdons__title2{
    @include title;
    border: none;
    position: relative;

}

.blocdons__list{
    margin-top: 10em;
}

.blocdons__title2:after{
    content:'';
    background: url("../images/arrow.png") no-repeat;
    background-size: 30%;
    width: 100%;
    height: 390px;
    position: absolute;
    top: 35%;
    left: 100%;
    margin-left: 5%;
}

.ditem{
    text-align: center;
    margin-bottom: 2em;
}

.ditem:not(:last-child){
    border-bottom: 1px solid lightgrey;
}

.ditem__title1{
    font-size: 3em;
    color: black;
    padding: 3% 0;
    text-transform: uppercase;
    font-weight: 100;
}

/*.ditem:nth-child(odd){
    background-color: rgba(127,163,162, 0.5);
}*/

.ditem__link{
    @include button;
    background-color: $blue;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 4em;
}

.ditem__text{
    margin-bottom: 3em;
    font-size: 1.8em;
}

.burgercss{
  display: none;
}

#burger{
  visibility: hidden;
}

@import "responsive";
















