@import "mixins";
@import "variables";

@media (max-width: 1100px) {
  .bloccontact__flex{
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bloccontact__title1{
    display: block;
    margin: 0 auto 2em;
    width: 60%;
  }

  .bloncdons__title1{
    top: initial;
  }
}


@media (max-width: 920px) {
  .spe-list{
    flex-direction: column;
  }

  .up{
    width: 85%;
    padding-top: 0;
  }

  .blocheader__nav{
    display: none;

  }

  .blocheader__nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burgercss, .checkbox{
    display: block;
  }

  .logo{
    display: block;
    margin: .5em 1em;
  }

  .blocheader__nav a:not(.link--noborder){
    display: block;
  }

  .link--noborder{
    width: 130px;
    margin: 0 auto;
  }

  .list__item__link{
    margin-right: initial;
  }


    .list{
    display: block;
    background-color: white;
    text-align: center;
    width: 100%;
  }

    .list__item{
    margin: .5em 0;
    border-bottom: 1px solid lightgrey;
    padding: 1em 0em;
  }

  .list__item__link{
    font-size: 1.5em;
    font-weight: 400;
  }

  .blocheader__nav .active{
    border: none;
    font-weight: bold;
  }

  .list__item:last-child{
    border:none;
  }

  .blocheader__flex{
    display: block;
    margin: .5em 0em;
  }

  .list__item {
    border-right: none;
  }

  input + label {
    position: absolute;
    top: 60px;
    right: 40px;
    height: 20px;
    width: 25px;
    z-index: 5;
    span {
      position: absolute;
      width: 100%;
      height: 4px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: $pink;
      transition: .5s;
    }
    span:first-child {
      top: 0px;
    }
    span:last-child {
      top: 20px;
    }
  }
  input:checked + label {
    span {
      opacity: 0;
      top: 50%;
    }
    span:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }
    span:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }
  input ~ nav {
    background: white;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    > ul {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      > li {
        opacity: 0;
        transition: .5s;
        transition-delay: 0s;
      }
    }
  }
  input:checked ~ nav {
    height: 70%;
    transition-delay: 0.5s;
    > ul {
      > li {
        opacity: 1;
        transition-delay: .5s;
      }
    }
  }

  .blocactiv{
    flex-direction: column;
  }

  .blocactiv__divimg {
    background-size: cover;
    margin-left: 0;
    background-position: 0%;
  }

  .blocactiv__info{
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .blocfooter__flex{
    flex-direction: column;
  }

  .fitem{
    margin-bottom: 2em;
  }
}

@media (max-width: 700px) {
 .blocdons__text--merci{
    font-size: 20em;
  }

  .blocteamI-space__text{
    font-size: 3em;
    margin-top: .2em;
  }

  .blocteamI-space__list{
    padding-left: 28em;
  }

  .blocteamI-space__text--word{
    font-size: 2.3em;
  }
}

@media (max-width: 600px) {

  .up{
    font-size: 2.5em;
  }
  .blocteamitem__flex {
    flex-direction: column;
  }
  .blocteam__divcontent{
    margin-left: $margin;
  }

  .blocteamitem__img{
    width: 70%;
  }

  .blocdons__title2::after {
    display: none;
  }

  .blocdons__title--align{
    text-align: center;
  }

  .blocdons__title2 {
    font-size: 3em;
    margin-bottom: 0em;
    border-bottom: 2px dotted $blue;
  }

  .ditem__title1{
    font-size: 2.5em;
  }

  .ditem__text{
    font-size: 1.5em;
    line-height: $lineheight;
  }
}

@media (max-width: 570px) {
  .blocdons__text--merci{
    font-size: 15em;
  }
}

@media (max-width: 450px) {
  .blocheader__desc__text {
    padding-top: 0em;
    width: 80%;
    font-size: 2.5em;
  }

  .blocdons__text--merci{
    font-size: 10em;
  }

  .blocheader__desc__img {
    padding-bottom: 30em;
  }

  .logo__img {
    width: 60%;
  }

  .blocactiv__info__title2 {
    font-size: 3em;
  }

  .sitem__img {
    width: 100px;
    height: 100px;
    margin-bottom: 3em;
  }

  .blocsponsor {
    margin-bottom: 10em;
  }

  .blocactiv__info__text {
    font-size: 1.5em;
  }

  .blocabout__text {
    font-size: 1.5em;
  }

  .blocabout__title1 {
    margin-top: 4em;
  }

  .blocsponsor__title1 {
    margin-top: 0em;
  }

  .blochelp-space__title1 {
    margin-top: 2em;
  }

  .blocteamI-space__link {
    margin-bottom: 10em;
  }

  .blochelp-space__text {
    font-size: 1.5em;
  }

  .blocactiv__info {
    text-align: center;
  }

  .blocactiv__info__text {
    width: 100%;
  }

  .blochelp__text {
    font-size: 1.5em;
  }

  .blochelp__select {
    font-size: 1.5em;
  }

  .blochelp__divselect {
    width: 300px;
  }

  .ill__description p {
    font-size: .8em;
  }

  .blocdons-space__text {
    font-size: 3em;
    width: 80%;
    margin: 3em auto 2em;
  }

  .blochelp-nojs__text {
    font-size: 1.5em;
  }

  .blochelp-nojs__text2 {
    font-size: 1.8em;
  }

  .hnjitem__text {
    font-size: 1.5em;
  }

  .blocpropos__text {
    font-size: 1.5em;
  }

  .bloccontact__text {
    font-size: 1.5em;
  }

  .blocactiv-space__text {
    width: 80%;
    margin: 2em auto;
  }

  .locaux {
    font-size: 1.5em;
  }

  .compte {
    padding: 20%;
  }

  .ditem__link {
    font-size: 1.3em;
  }

  .ditem__text {
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto 3em;
  }

  .ditem__title1 {
    padding: 10% 0%;
  }

  .blocteamII-space__icons i {
    font-size: 3em;
  }

  .blocteamII-space__text{
      font-size: 2em;
      width: 80%;
  }

  .blocteam__text{
    font-size: 1.5em;
  }

  .blocteam__spe__text{
    font-size: 1.5em;
  }

  .blocteam__spe__title1:after{
    display: none;
  }

  .blocteamitem__text{
    font-size: 1.5em;
  }

  .blocteamII-space__icons i:not(:last-of-type):after{
    display: none;
  }


}

@media (max-width: 400px){
  .spe-item__div:hover > .spe-item__img{
    opacity: 1;
    transition: 0;
  }

  .spe-item__div:hover > .spe-item__text{
    opacity: 1;
    transition: 0s;
  }

  .spe-item__text{
    position: initial;
    margin: 1em;
    opacity: 1;
    font-size: 3em;
  }

  .hnjlink{
    font-size: 1.1em;
  }

  .blocdons__title1{
    font-size: 2em;
  }

  .catch{
    width: 80%;
    display: block;
    margin: 2em auto;
  }

  .blocteamI-space__text{
    font-size: 2em;
    margin-top: .7em;
  }

  .blocteamI-space__list{
    padding-left: 19em;
  }

  .blocteamI-space__text--word{
    font-size: 1.5em;
  }

  .blocproposII-space__text{
    font-size: 1.5em;
    width: 80%;
  }

/*  .bloccontact__form__input, .bloccontact__form__textarea{
    width: 89.5%;
  }*/





}